.header {
  text-align: center;
  font-size: 36px;
}
.campaign-header {
  border-top: 0.5px rgb(211, 203, 203) solid; 
  border-bottom: 0.5px rgb(211, 203, 203) solid;
  padding-top: 30px;
}
.campaign-row-top {
  padding-bottom: 30px

}
.green {
  color: green;
}
.cropped-header {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  object-position: 20% 10%; 
  overflow:hidden; 
  border-radius: 25%
}

.col-no-padding {
  padding-left: 0;
  padding-right: 0px
}
.cropped-png-video {
  width: 100px; 
  height: 400px; 
  object-fit: cover;
  opacity: 75%;
  overflow:hidden; 
}
.cropped-play-video {
  position: relative;
  width: 100px; 
  height: 400px; 
  overflow:hidden; 
}
.cropped-png-photo {
  width: 100px; 
  height: 400px; 
  object-fit: cover;
}
.downloadCopyTop {
  padding-top: 32px;
}
.downloadCopy {
  width: 50px; 
  height: 50px;
  border: 0.5px solid lightblue;
  display: inline-flex;
}
